{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Courses</h1>
            <a href="#" class="btn btn-primary">Create Course</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">City</th>
                    <th scope="col">Holes</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <th scope="row">{{ course.id }}</th>
                    <td>{{ course.name }}</td>
                    <td>{{ course.location }}</td>
                    <td>{{ course.city }}</td>
                    <td>{{ course.holes }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">There are currently no courses to display.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
