{% extends 'layout.html' %}

{% import 'macro/forms.jinja' as forms %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ event.name }}</h1>
        </div>
        <p>
            <strong>Date:</strong> {{ event.eventDate }}<br>
            <strong>Holes:</strong> {{ event.holes }}<br>
        </p>

        <div class="button-container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPlayerModal">Add Player</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hole</th>
                    {% for player in scores %}
                        <th scope="col">{{ player }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hole in range(1, event.holes + 1) %}
                <tr>
                    <td>{{ hole }}</td>
                    {% for player in scores %}
                        <td>{{ scores[player][hole] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addPlayerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    {{ form.eventId }}
                    <div class="modal-header">
                        <h5 class="modal-title">Add Player</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% if form.player.choices|length == 0 %}
                            <p>There are no players availabe to add to this event.</p>
                            <p>Either all players have already been added or there are no players in the system.</p>
                        {% else %}
                            {{ forms.render_field(form.player) }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {% if form.player.choices|length > 0 %}
                            {{ forms.render_button(form.submit) }}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
